<section class="columns">
<div class="column">
  <form class="box">
    <h2 class="title">Create New Recipe</h2>
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" type="text" id="blog-title" placeholder="e.g. Grandma's Best Soup">
      </div>
    </div>

    <div class="field">
        <label class="label">Post</label>
        <div class="control">
          <textarea class="textarea" type="text" id="blog-post" placeholder="e.g. In a medium bowl, combine..."></textarea>
        </div>
      </div>
  
    <button type="submit" class="button is-primary">+ Add Recipe</button>
  </form>
</div>
</section>

<script src="/js/newpost.js"></script>