<section class="columns">
<div class="column">
  <form class="box">
    <h2 class="title">Update Blog</h2>
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" type="text" id="blog-title" value="{{blog.title}}">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Post:</label>
      <div class="control">
        <textarea class="textarea" type="text" id="blog-body">{{blog.body}}</textarea>
      </div>
    </div>
  
    <button type="submit" class="button is-primary" id="submit" data-id="{{blog.id}}">+ Update Post</button>
  </form>
</div>
</section>

<script src="/js/updatepost.js"></script>